<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">anhthu2911</property>
        <property name="hibernate.connection.url">jdbc:mysql://103.97.125.252:3306/rubygymc_root</property>
        <property name="hibernate.connection.username">rubygymc_root_admin</property>
        <mapping class="model.trainer"></mapping>
    </session-factory>
</hibernate-configuration>
